
 
 
 
 #container { 
/* I'm just here */
text-align: center;
float: right;
width: 75%;
padding-top: 0px;
padding-right: 20px;
margin-right: 5%;


 }

 h1 {
     /* The Rain Game! */
    background: transparent;
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
    
}

/* header {  */
    /* Players */
    /* color: whitesmoke; */
    /* text-align: left; */
    /* font-size: 40px; */
    /* background:transparent; */
    
/* } */

p {
    /* character titles */
    background: transparent;
    color: whitesmoke;
    font-size: 25px;
    padding-top: 0px;
    font-weight: bold;
    
}

.column {
    float: left;
    width: 20%;
    padding-right: 10px;
    
  }
  
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: all;
    display: table;

  }

body {
    background-image: url("images/windmill-live-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: lightskyblue;
    font-family: 'Indie Flower', cursive;
    /* margin-left: 300px; */
    
    

}


#borderimg1 { 
    border: 10px solid;
    padding: 20px;
    border-image: url(images/robot-rain.gif) 30 stretch;

}

#borderimg2 { 
    border: 10px solid;
    padding: 20px;
    border-color: yellow;
}

#borderimg3 { 
    border: 10px solid;
    padding: 20px;
    border-image: url(images/duck-rain.gif) 30 stretch;
}

#borderimg4 { 
    border: 10px solid;
    padding: 20px;
    border-image: url(images/gat-cloud.gif) 30 stretch;
}